@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    max-width: 100%;
}

HTML {
    font-size: 62.5%;
}

body {
    background: #1d1c1c;
    font-family: 'Playfair Display', serif;
    color: #e4e4e4;
}

/*Navigation setup*/
nav {
    display: flex;
    justify-content: space-around;
    margin: 2% 20%;
    
}

div.header-links {
    display: flex;
    justify-content: space-around;
    margin: 2% 20%;
}

div.header-links a {
    padding: 0 10%;
    margin: 1%;
    font-size: 2rem;
}

header nav a {
    font-size: 3rem;
    color: grey;
    text-decoration: none;
}

header nav a:hover {
    color: #b4b4b4;
}

/*End of Nav*/

h1 {
    width: 100%;
    font-size: 3rem;
    font-family: 'Gayathri', sans-serif;
    margin-top: 5%;
    text-align: center;
}

p {
    color: #e2e2e2;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2%;
}

.hero-image {
    background-image:url(/assets/pexels-photo-3748174.jpeg);
    background-attachment: fixed;
    background-position: bottom;
    width: 100%;
    height: 60vh;
}